.dashboard-card {
    display: flex;
    flex: 1;
    // flex: 0 0 50%; 
    align-items: center;
    padding: 20px;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-position: 'center';
    background-size: '100% 100%';
    .dashboard-card-left {
        flex: 1;
    }
    .dashboard-card-title {
        font-size: 16px;
        font-weight: 600;
    }
    .dashboard-card-progress {
        position: relative;
        width: 80px;
        margin-top: 20px;
    }
    .dashboard-card-icon {
        .MuiSvgIcon-root {
            font-size: 80px;
            color: white;
        }
    }
}
@media (max-width: 900px) {
  .dashboard-card {
    flex: 0 0 50%; /* 一行 2 个（100% / 2） */
  }
}