.dashboard-card {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: 'center';
    background-size: '100% 100%';
    .dashboard-card-left {
        flex: 1;
    }
    .dashboard-card-title {
        font-size: 16px;
        font-weight: 600;
    }
    .dashboard-card-progress {
        position: relative;
        width: 80px;
        margin-top: 20px;
    }
    .dashboard-card-icon {
        .MuiSvgIcon-root {
            font-size: 80px;
            color: white;
        }
    }
}